@charset "utf-8";

/* font */
/* =================================*/
/* Noto Sans KR */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* font 초기화 */
/* =================================*/
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Apple SD Gothic Neo",
    "Noto Sans KR", "맑은 고딕", Dotum, "돋움", sans-serif;
  /* -apple-system Safari에서 SF 한글/영문 폰트. Firefox에서 SF 영문 폰트 */
  /* BlinkMacSystemFont Chrome 계열에서 SF 한글/영문 폰트 */
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

i {
  display: inline-block;
  cursor: pointer;
}

/* font-size */
/* =================================*/
.fz-10 {
  font-size: 10px;
}

.fz-11 {
  font-size: 11px;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}
.fz-22 {
  font-size: 22px;
}
.fz-24 {
  font-size: 24px;
}
.fz-30 {
  font-size: 30px;
}

/* font-weight */
/* =================================*/
.fw-regular {
  font-weight: 400;
}

.fw-mid {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 900;
}

/* text-align */
/* =================================*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* font-color */
/* =================================*/
.fc-wh {
  color: #f9f9f9;
}
.fc-dark-wh {
  color: #f4f4f4;
}
.fc-light-gr {
  color: #e0e0e0;
}
.fc-gr {
  color: #909090;
}
.fc-bk {
  color: #262628;
}

.fc-light-beige {
  color: #efeeea;
}
.fc-beige {
  color: #e7e0da;
}
.fc-deep-beige {
  color: #bbb3ab;
}
.fc-dark-beige {
  color: #8d8682;
}
.fc-ultra-beige {
  color: #524e4b;
}

.fc-pink {
  color: #de9cde;
}
.fc-red {
  color: #c74c4c;
}
.fc-green {
  color: #6bae7e;
}
.fc-orange {
  color: #f1a261;
}
.fc-cyan {
  color: #57a0c4;
}

/* bg-color */
/* =================================*/
.bg-wh {
  background-color: #ffffff;
}
.bg-gr {
  background-color: #f9f9f9;
}

/* margin 360기준으로 변경 완료*/
/* =================================*/
.mg-height-0 {
  margin-top: 0 !important;
  margin-bottom: 0;
}

.mt--20 {
  margin-top: -20px;
}
.mt-2 {
  margin-top: 2px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-13 {
  margin-top: 13px;
}

.mt-16 {
  margin-top: 16px;
}
.mt-18 {
  margin-top: 18px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-23 {
  margin-top: 23px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-39 {
  margin-top: 39px;
}
.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-50 {
  margin-top: 50px;
}
.mt-54 {
  margin-top: 54px;
}
.mt-55 {
  margin-top: 55px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-67 {
  margin-top: 67px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-88 {
  margin-top: 88px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-100 {
  margin-top: 100px;
}

.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-26 {
  margin-bottom: 26px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-34 {
  margin-bottom: 34px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-75 {
  margin-bottom: 75px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-122 {
  margin-bottom: 122px;
}
.mb-202 {
  margin-bottom: 202px;
}

.ml-4 {
  margin-left: 4px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-24 {
  margin-left: 24px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-50 {
  margin-left: 50px;
}

.mr-4 {
  margin-right: 4px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-36 {
  margin-right: 36px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-80 {
  margin-right: 80px;
}

/* padding 360기준으로 변경 완료*/
/* =================================*/
.p0 {
  padding: 0;
}
.pt-20 {
  padding-top: 20px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-88 {
  padding-top: 88px;
}

.pb-14 {
  padding-bottom: 14px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-106 {
  padding-bottom: 106px;
}

.pl-24 {
  padding-left: 24px;
}

/* .container */
/* =================================*/
.container-1700 {
  width: 1700px;
  height: auto;
  margin: 0 auto;
}

.container-1180 {
  width: 1180px;
  height: auto;
  margin: 0 auto;
}
.container-844 {
  width: 844px;
  height: auto;
  margin: 0 auto;
}
.container-740 {
  width: 740px;
  height: auto;
  margin: 0 auto;
}
.container-620 {
  width: 620px;
  height: auto;
  margin: 0 auto;
}

/* flex */
/* =================================*/

/* flext-justify */
.fx-center {
  justify-content: center;
}

.fx-around {
  justify-content: space-around;
}

.fx-between {
  justify-content: space-between;
}

.fx-evenly {
  justify-content: space-evenly;
}

.fx-flexstart {
  justify-content: flex-start;
}
.fx-flexend {
  justify-content: flex-end;
}

/* flext-align */

.fx-start {
  align-items: flex-start;
}

.fx-middle {
  align-items: center;
}

.fx-end {
  align-items: flex-end;
}
/* icon pc */
.ico-payco {
  width: 130px;
  height: 35px;
  background: url(../images/ico_payco.svg) no-repeat center;
}
.ico-kakaopay {
  width: 130px;
  height: 35px;
  background: url(../images/ico_kakaopay.png) no-repeat center;
}
.ico-kakaotalk-single {
  width: 32px;
  height: 32px;
  background: url(../images/ico_kakao_signin_big.svg) no-repeat center;
}
.ico-kakaotalk {
  width: 36px;
  height: 36px;
  background: url(../images/ico_social_kakao.svg) no-repeat center;
}
.ico-naver {
  width: 36px;
  height: 36px;
  background: url(../images/ico_social_naver.svg) no-repeat center;
}
.ico-apple {
  width: 36px;
  height: 36px;
  background: url(../images/ico_social_apple.svg) no-repeat center;
}
.ico-facebook {
  width: 36px;
  height: 36px;
  background: url(../images/ico_social_facebook.svg) no-repeat center;
}

/* mypage icon */
.ico-discount {
  width: 34px;
  height: 34px;
  background: url(../images/ico_mypage_coupon.svg) no-repeat center;
}
.ico-point {
  width: 34px;
  height: 34px;
  background: url(../images/ico_mypage_point.svg) no-repeat center;
}
.ico-money {
  width: 34px;
  height: 34px;
  background: url(../images/ico_mypage_money.svg) no-repeat center;
}
.ico-calender {
  width: 34px;
  height: 34px;
  background: url(../images/ico_mypage_calender.svg) no-repeat center;
}
.ico-confirm {
  width: 42px;
  height: 42px;
  background: url(../images/ico_mypage_confirm.svg) no-repeat center;
}
.ico-card {
  width: 42px;
  height: 42px;
  background: url(../images/ico_mypage_card.svg) no-repeat center;
}
.ico-ongoing {
  width: 34px;
  height: 34px;
  background: url(../images/ico_mypage_ongoing.svg) no-repeat center;
}
.ico-delivery {
  width: 42px;
  height: 42px;
  background: url(../images/ico_mypage_delivery.svg) no-repeat center;
}
.ico-complete {
  width: 42px;
  height: 42px;
  background: url(../images/ico_mypage_complete.svg) no-repeat center;
}
.ico-payback {
  width: 42px;
  height: 42px;
  background: url(../images/ico_mypage_payback.svg) no-repeat center;
}
.ico-sign-step1 {
  width: 34px;
  height: 34px;
  background: url(../images/ico_signin_step1_bk.svg) no-repeat center;
}
.ico-sign-step1.on {
  background: url(../images/ico_signin_step1_wh.svg) no-repeat center;
}
.ico-sign-step2 {
  width: 34px;
  height: 34px;
  background: url(../images/ico_signin_step2_bk.svg) no-repeat center;
}
.ico-sign-step2.on {
  background: url(../images/ico_signin_step2_wh.svg) no-repeat center;
}
.ico-sign-step3 {
  width: 34px;
  height: 34px;
  background: url(../images/ico_signin_step3_bk.svg) no-repeat center;
}
.ico-sign-step3.on {
  background: url(../images/ico_signin_step3_wh.svg) no-repeat center;
}
.ico-arrow-small {
  width: 22px;
  height: 22px;
  background: url(../images/ico_arrow_small.svg) no-repeat center;
}
.ico-close {
  width: 35px;
  height: 35px;
  background: url(../images/ico_popup_productdetail_close.svg) no-repeat center;
}
.ico-close-small {
  width: 23px;
  height: 23px;
  vertical-align: middle;
  background: url(../images/ico_del_filter_small.svg)no-repeat center;
}
.ico-view {
  width: 23px;
  height: 23px;
  background: url(../images/ico_view_off.svg) no-repeat center;
}
.ico-view.on {
  background: url(../images/ico_view_on.svg) no-repeat center;
}
.ico-view-small {
  width: 12px;
  height: 12px;
  background: url(../images/ico_view_off.svg)no-repeat center;
}
.ico-bookmark {
  width: 34px;
  height: 34px;
  background: url(../images/ico_bookmark_off.svg) no-repeat center;
}
.ico-bookmark.on {
  background: url(../images/ico_bookmark_on.svg) no-repeat center;
}
.ico-alert {
  width: 34px;
  height: 34px;
  background: url(../images/ico_alert.svg) no-repeat center;
}
.ico-alert.rd {
  background: url(../images/ico_alert_red.svg) no-repeat center;
}
.ico-alert.bk {
  background: url(../images/ico_alert_bk.svg) no-repeat center;
}
.ico-expiration {
  width: 110px;
  height: 110px;
  background: url(../images/ico-alert-error.svg) no-repeat center;
}
.ico-check-gn {
  width: 41px;
  height: 41px;
  background: url(../images/ico_check_gn.svg) no-repeat center;
}
.ico-right-arrow-small {
  width: 26px;
  height: 26px;
  background: url(../images/ico_arrow_right_payment.svg) no-repeat center;
}
.star-rating {
  position: relative;
  width: 100px;
  height: 20px;
  background: url(../images/star_rate_gl.svg)no-repeat left / 100px 20px;
}
.star-rating .rate {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 20px;
  overflow: hidden;
  background: url(../images/star_rate_on.svg)no-repeat left / 100px 20px;
}
.ico-download.rd {
  width: 16px;
  height: 16px;
  background: url(../images/ico_productdetail_download.svg)no-repeat center;
}
.ico-alert.gr {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../images/ico_productdetail_share_comment.svg)no-repeat center;
}
.ico-heart {
  width: 56px;
  height: 56px;
  background: url(../images/ico_productdetail_heart.svg)no-repeat center;
}
.ico-share {
  width: 56px;
  height: 56px;
  background: url(../images/ico_productdetail_share.svg)no-repeat center;
}
.ico-alarm {
  width: 27px;
  height: 27px;
  background: url(../images/ico_alarm_off.svg)no-repeat center;
}
.ico-benefit-point {
  width: 58px;
  height: 58px;
  background: url(../images/ico_productdetail_coin.svg)no-repeat center;
}
.ico-benefit-coupon {
  width: 58px;
  height: 58px;
  background: url(../images/ico_productdetail_coupon.svg)no-repeat center;
}
.ico-benefit-sale {
  width: 58px;
  height: 58px;
  background: url(../images/ico_productdetail_diamond.svg)no-repeat center;
}
.ico-benefit-delivery {
  width: 58px;
  height: 58px;
  background: url(../images/ico_productdetail_delivery.svg)no-repeat center;
}
.ico-arrow-left {
  width: 34px;
  height: 34px;
  background: url(../images/ico_arrow_left.svg)no-repeat center;
}
.ico-arrow-right {
  width: 34px;
  height: 34px;
  background: url(../images/ico_arrow_right.svg)no-repeat center;
}
.ico-secret {
  width: 33px;
  height: 33px;
  background: url(../images/ico-secret.svg)no-repeat center;
}
/* 2020/12/15 황운하 추가 탭 메뉴 (2단) */
.nav-tab-menu > ul {
  display: flex;
  align-items: center;
}
.nav-tab-menu > ul > li {
  width: 310px;
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  color: #909090;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.nav-tab-menu > ul > li.on {
  color: #262628;
  border: 2px solid #262628;
  border-bottom: none;
}

.nav-tab-menu > ul > li:not(.on) {
  border-bottom: 2px solid #262628;
}

/* 2020/12/15 황운하 추가 하단 버튼 영역 */
.btn-wrap {
  display: flex;
  justify-content: center;
}
.btn-wrap button {
  margin: 0 10px;
}

/* 2020/12/15 황운하 추가 팝업 */
.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #f5f5f5;
}
.popup {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 600px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

.popup > .popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
}

/* common element */
/* section-title */
/* =================================== */
.section-title-wrap {
  width: 100%;
  margin: 0 auto;
}

.section-title {
  padding-top: 67px;
  padding-bottom: 50px;
  border-bottom: 2px solid #282828;
}
.section-title > P {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.section-title-wrap > span {
  display: block;
  padding-top: 36px;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  color: #353231;
}

/* article-title */
/* =================================== */

.article-title {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 36px;
  border-top: 1px solid #000;
}
.article-title > p {
  margin-right: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #353231;
}

.article-title > span {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #424242;
  padding: 7px 14px 6px 13px;
  border: solid 0.8px #c7c7c7;
}
.article-title > em {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #909090;
}

/* article-upper-title */
/* =================================== */

.article-upper-title {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}
.article-upper-title > p {
  margin-right: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #353231;
}

.article-upper-title > span {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #424242;
  padding: 7px 14px 6px 13px;
  border: solid 0.8px #c7c7c7;
}
.article-upper-title > em {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #909090;
}

/* article-list */
/* =================================== */

.article-list > li {
  display: flex;
  align-items: center;
  /* height: 41px; */
  line-height: 41px;
}
.article-list > li.fx-start {
  align-items: flex-start;
}
.article-list.list-mb-18 > li {
  margin-bottom: 18px;
}
.article-list.list-mb-26 > li {
  margin-bottom: 26px;
}

.article-list li:last-child {
  margin-bottom: 0;
}

.article-list > li > p {
  width: 150px;
  margin-right: 26px;
  font-size: 16px;
}

.article-list > li > div {
  width: 100%;
  font-size: 15px;
}


.article-list .radio-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.article-list .radio-wrap > label {
  margin-right: 36px;
}
.article-list .radio-wrap > label > span {
  padding-left: 6px;
}
/* 아코디언 */
.accordion-list > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #f0eeeb;
}

.accordion-list > .title > i {
  width: 34px;
  height: 34px;
  background: url(../images/ico_dropdown_off.svg) no-repeat center;
  transition: all 0.3s ease;
}

.accordion-list > .accordion {
  display: none;
  height: 0;
}
.accordion-list.on > .accordion {
  display: block;
  height: 100%;
}
.accordion-list.on > .title i {
  background: url(../images/ico_dropdown_on.svg) no-repeat center;
  transition: all 0.3s ease;
}

.article-title > button {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #424242;
  padding: 7px 14px 6px 13px;
  border: solid 0.8px #c7c7c7;
}

/* 커스텀 셀렉트박스 */
.cs-selectbox {
  position: relative;
  margin: 200px;
}

.cs-selectbox > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  text-indent: 14px;
  border: 1px solid #beb0a8;
}
.cs-selectbox > button > i {
  width: 26px;
  height: 26px;
  margin-right: 14px;
  background: url(../images/ico_main_bot_arrow_down.svg) no-repeat center / 26px
    26px;
}

.cs-selectbox > ul {
  display: none;
  position: absolute;
  top: 41px;
  font-weight: normal;
  text-indent: 14px;
  border: 1px solid #beb0a8;
  border-top: none;
}

.cs-selectbox ul > li {
  height: 41px;
  line-height: 41px;
}

.cs-selectbox button.on + ul {
  display: block;
}

/* 커스텀 셀렉트박스 넓이값 Class 지정 */
.cs-selectbox.csb-192 > button,
.cs-selectbox.csb-192 > ul {
  width: 192px;
}

.cs-selectbox.csb-220 > button,
.cs-selectbox.csb-220 > ul {
  width: 220px;
}

/* marker-list */
.marker-list{
  margin-left: 10px;
}
.marker-list li::marker {
  content: "· ";
}