@charset 'utf-8';

/* 2021/01/11 황운하 고개갱복센터 */
.customer-center-intro {
  padding: 50px 0 40px;
}
.customer-center-intro.bg-gr {
  background-color: #efeeea;
}
.customer-center-intro .intro-title h3 {
  font-size: 30px;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 28px;
}
.customer-center-intro .intro-title p {
  font-size: 16px;
  line-height: 22px;
}
.customer-center .intro-btn-wrap > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.customer-center .intro-btn-wrap > div:not(:last-child) {
  margin-right: 26px;
}
.customer-center .intro-btn-wrap button {
  width: 72px;
  height: 72px;
  margin: 0 auto 10px;
}
.customer-center .intro-btn-wrap {
  margin-top: 43px;
  margin-left: 46px;
}
.customer-center .intro-info {
  text-align: right;
}
.customer-cetner .intro-info h2 {
  font-size: 22px;
  font-weight: bold;
}
.customer-center .intro-info h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 13px 0 24px;
}
.customer-center .intro-info p {
  font-size: 16px;
  line-height: 22px;
}
.customer-center .customer-center-header {
  margin-top: 90px;
}
.customer-center .customer-center-header h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.quick-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 70px;
}
.quick-list li {
  font-size: 18px; 
  font-weight: bold;
  color: #909090;
}
.quick-list li a {
  position: relative;
}
.quick-list li.on a{
  color: #282828;
}
.quick-list li.on a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background-color: #2b272b;
}
.quick-list li:not(:last-child) {
  margin-right: 30px;
}

.customer-center .nav-tab-menu li {
  width: 393px;
}
.keyword-search {
  padding: 18px 11px 18px 44px;
  margin-top: 50px;
  background-color: #f4f4f4;
}
.keyword-search h2 {
  font-size: 22px;
  font-weight: bold;
  margin-right: 79px;
}
.keyword-search ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
}
.keyword-search ul li {
  padding: 14px 14px 11px;
  border: 1px solid #e9e9e9;
  margin: 4px 0;
  margin-right: 8px;
  font-size: 16px;
  border-radius: 20.5px;
  background-color: #ffffff;
}
.keyword-search ul li.on {
  color: #f5f5f5;
  background-color: #282828;
}
.keyword-search input {
  position: relative;
  width: 400px;
  padding-right: 50px;
  background-color: transparent;
}
.keyword-search button {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.detail-tab-wrap {
  margin-top: 50px;
}
.detail-tab-wrap ul {
  display: flex;
  align-items: center;
}
.detail-tab-wrap ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 197px;
  height: 52px;
  font-size: 18px;
  font-weight: bold;
  color: #909090;
  background-color: #f4f4f4;
  cursor: pointer;
}
.detail-tab-wrap ul li.on {
  color: #f5f5f5;
  background-color: #282828;
}
.detail-tab-wrap ul li:not(:last-child):not(.on):after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 19px;
  background-color: #dcdcdc;
}
.faq-top .accordion-list-wrap {
  margin-top: 30px;
  border-top: 1px solid #e9e9e9;
}
.faq-top .title {
  height: 71px;
  padding: 0 10px;
}
.faq-top .title p {
  font-size: 16px;
  line-height: 22px;
}
.faq-top .title div i,
.faq-top .accordion i {
  margin-right: 64px;
}
.faq-top .accordion {
  padding: 27px 10px;
  background-color: #f4f4f4;
}
.faq-top .accordion p {
  font-size: 16px;
  line-height: 24px;
  color: #909090;
}

/* 고객행복센터 - 공지사항 */
.customer-notice .notice-header .article-title {
  align-items: center;
  justify-content: space-between;
}
.customer-notice .article-title input {
  position: relative;
  width: 400px;
  height: 50px;
  padding: 0 50px 0 10px;
  border: 1px solid #d2d2d2;
}
.customer-notice .article-title input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #909090;
}
.customer-center .article-title button {
  position: absolute;
  right: 10px;
}
.customer-center .notice-list {
  margin-top: 20px;
  border-top: 1px solid #e9e9e9;
}
.customer-center .notice-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  line-height: 22px;
  font-size: 16px;
  padding: 0 10px;
  border-bottom: 1px solid #e9e9e9;
}
.customer-center .notice-list .num {
  font-weight: bold;
}
.customer-center .notice-list li div {
  display: flex;
}
.customer-center .notice-list li div span {
  width: 30px;
  text-align: center;
  margin-right: 70px;
}
.customer-center .notice-list li .date {
  color: #909090;
  font-weight: normal;
}
/* 고객행복센터 - 위클리 업데이트 */
.weekly-wrap {
  padding: 30px 108px;
  margin-top: 30px;
}
.weekly-wrap .data-area {
  display: flex;
  align-items: center;
}
.weekly-wrap .data-area ul {
  display: flex;
  align-items: center;
}
.weekly-wrap .data-area ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 64px;
  height: 64px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.weekly-wrap .data-area ul li:not(:last-child) {
  margin-right: 25px;
}
.weekly-wrap .data-area ul li.on {
  color: #fff;
  background-color: #df9cdf;
}
.weekly-wrap .data-area ul li p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}
.weekly-wrap h2 {
  font-size: 22px;
  font-weight: bold;
}
.weekly-wrap .text-center button {
  font-size: 16px;
  margin-top: 18px;
}
.weekly-update .product {
  width: 216px;
}
/* 게시물 영역 */
.post-title {
  padding: 30px 10px;
  border-bottom: 1px solid #e9e9e9;
}
.post-title p {
  font-size: 18px;
  line-height: 24px;
}
.post-title span {
  line-height: 21px;
  color: #909090;
}

.post-wrap .substance {
  margin-top: 30px;
  padding: 0 10px;
}
.post-wrap .substance img {
  padding: 0 50px;
}
.post-wrap .substance p {
  font-size: 15px;
  line-height: 22px;
}
.post-wrap .attach {
  padding: 22px 10px;
  margin: 50px 0;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}
.post-wrap .attach a { 
  text-decoration: underline;
  margin-left: 42px;
  color: #57a0c4;
}
.post-wrap .btm-list {
  margin-top: 30px;
}
.post-wrap .btm-list ul {
  border-top: 1px solid #e9e9e9;
}
.post-wrap .btm-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 0 10px;
  border-bottom: 1px solid #e9e9e9;
}
.post-wrap .btm-list ul li div {
  display: flex;
  align-items: center;
}
.post-wrap .btm-list span {
  line-height: 21px;
  color: #909090;
}
.post-wrap .btm-list a {
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin-left:  60px;
}
/* 고객행복센터 - FAQ */
.customer-faq .accordion-list-wrap {
  margin-top: 30px;
  border-top: 1px solid #e9e9e9;
}
.customer-faq .title {
  height: 71px;
  padding: 0 10px;
}
.customer-faq .title p {
  font-size: 16px;
  line-height: 22px;
}
.customer-faq i {
  margin-right: 64px;
}
.customer-faq .accordion {
  padding: 27px 10px;
  background-color: #f4f4f4;
}
.customer-faq .accordion p {
  font-size: 16px;
  line-height: 24px;
  color: #909090;
}
/* 고객행복센터 - 이용안내 */
.customer-guide .article-title-wrap .article-title{
  padding-left: 10px;
}
.customer-guide .guide-area {
  padding: 0 10px;
}
.customer-guide .guide-area h3 {
  font: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.customer-guide .guide-area > p {
  font-size: 16px;
  line-height: 24px;
  color: #909090;
}
.order-guide-step {
  width: 100%;
  padding: 40px 0;
  margin-top: 30px;
  background-color: #f4f4f4;
}
.order-guide-step ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-guide-step ul > i {
  margin: 0 15px;
  background: url(../images/ico_arrow_guide.svg)no-repeat center;
}
.order-guide-step li {
  position: relative;
  text-align: center;
}
.order-guide-step li span {
  display: block;
  font-weight: bold;
  color: #909090;
}
.order-guide-step li i {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.order-guide-step li p {
  font-weight: bold;
}
.ico-order-step1 {
  background: url(../images/ico_order_info_step_1.svg)no-repeat center;
}
.ico-order-step2 {
  background: url(../images/ico_order_info_step_2.svg)no-repeat center;
}
.ico-order-step3 {
  background: url(../images/ico_order_info_step_3.svg)no-repeat center;
}
.ico-order-step4 {
  background: url(../images/ico_order_info_step_4.svg)no-repeat center;
}
.ico-order-step5 {
  background: url(../images/ico_order_info_step_5.svg)no-repeat center;
}
.ico-order-step6 {
  background: url(../images/ico_order_info_step_6.svg)no-repeat center;
}
.customer-guide h4 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}
.customer-guide .marker-list li {
  font-size: 16px;
  line-height: 24px;
  color: #909090;
}
.customer-guide .guide-item > p {
  font-size: 16px;
  line-height: 24px;
  color: #909090;
}
.customer-guide .guide-item:not(:last-child) {
  margin-bottom: 30px;
}
.open-product .product-wrap .text-area .brand-title {
  font-size: 14px;
  font-weight: bold;
  color: #909090;
  margin-top: 17px;
}
.open-product .product-wrap .text-area .product-title {
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 0;
  margin: 6px 0 12px;
}
.open-product .product-wrap .text-area .product-status p {
  font-size: 15px;
}
.open-product .product-wrap .text-area .product-status span {
  font-weight: bold;
  line-height: 21px;
  color: #6bae7e;
  margin-right: 6px;
}
.weekly-update .marker-list li {
  font-size: 15px;
  line-height: 21px;
  color: #909090;
}

/* 회원등급 및 혜택 */

.customer-benefit {
  display: flex;
  align-items: center;
  padding-left: 90px;
  width: 100%;
  height: 180px;
  background-color: #efeeea;
}
.customer-benefit .icon-grade {
  padding-right: 30px;
}
.customer-benefit .icon-grade > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 87px;
  font-size: 48px;
  font-weight: 900;
  color: #fff;
  background-color: #8d8682;
  border-radius: 50%;
}

.customer-benefit h2 {
  font-size: 30px;
}
.customer-benefit h2 > span {
  font-weight: bold;
}
.customer-benefit p {
  padding-top: 13px;
  font-size: 22px;
  color: #353231;
}
.customer-benefit p > span {
  font-weight: bold;
  color: #6bae7e;
}

.benefit-coupon {
  padding: 70px 10px;
  border-bottom: 1px solid #e9e9e9;
}
.benefit-coupon > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit-coupon > div > p {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #282828;
}
.benefit-coupon > div > span {
  padding-top: 18px;
  font-size: 16px;
  font-weight: normal;
  color: #262628;
}

.benefit-coupon > ul {
  display: flex;
  padding-top: 48px;
}
.benefit-coupon > ul > li {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  border-right: 1px solid #e9e9e9;
}

.benefit-coupon > ul > li:last-child {
  border-right: none;
}

.benefit-coupon > ul > li > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 98px;
  text-align: center;
  background: url(../images/coupon_customercenter_bk.svg) no-repeat center ;
  background-size: contain ;
}
.benefit-coupon > ul > li:last-child div {
  background: url(../images/coupon_customercenter_gn.svg) no-repeat center ;
  background-size: contain ;
}
.benefit-coupon > ul > li > div > span {
  font-size: 15px;
  font-weight: normal;
}

.benefit-coupon > ul > li > div > p {
  padding-top: 12px;
  font-size: 26px;
  font-weight: bold;
}
.benefit-coupon > ul > li > span {
  padding-top: 12px;
  font-size: 15px;
  line-height: 1.4;
  color: #909090;
}
.benefit-coupon.best > ul > li {
  border-right: none;
}
.benefit-coupon.best > ul > li > div {
  width: 330px;
  height: 140px;
  background: url(../images/coupon_customercenter_best.svg) no-repeat center ;
  background-size: contain ;
}

.benefit-coupon.best > ul > li > div > span {
  padding-right: 40px;
  font-size: 16px;
  font-weight: normal;
}
.benefit-coupon.best > ul > li > div > span > b {
  padding-right: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #df9cdf;
}
.benefit-coupon.best > ul > li > div > p {
  padding-right: 40px;
  font-size: 44px;
  font-weight: bold;
}

/* 회원 등급혈 혜택 테이블 */
.benefit-table thead tr {
  height: 73px;
  background-color: #f4f4f4;
  border-top: 1px solid #282828;
}

.benefit-table tr {
  border-bottom: 1px solid #e9e9e9;
}
.benefit-table td {
  border-left: 1px solid #e9e9e9;

}
.benefit-table th,
.benefit-table td {
  vertical-align: middle;
  text-align: center;
}

.benefit-table tbody th {
  background-color: #f9f9f9;
}


.benefit-table tbody td {
  padding: 20px 0;
  font-size: 16px;
  line-height: 1.4;
}
.benefit-table tbody td p {
  font-size: 18px;
}

.benefit-table tbody td span {
  display: block;
  padding-top: 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  color: #909090;
}

.benefit-table tbody .standard {
  padding-top: 40px;
  padding-bottom: 34px;
}

.benefit-table tbody .icon-grade span {
  padding-top: 34px;
}

.benefit-table tbody .icon-grade > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  border-radius: 50%;
}
.benefit-table tbody .icon-grade:nth-of-type(1) > i {
  background-color: #6bae7e;
}
.benefit-table tbody .icon-grade:nth-of-type(2) > i {
  background-color: #c4a64a;
}
.benefit-table tbody .icon-grade:nth-of-type(3) > i {

  background-color: #8d8682;
}
.benefit-table tbody .icon-grade:nth-of-type(4) > i {
  background-color: #a5a5a5;

}
.benefit-table tbody .icon-grade:nth-of-type(5) > i {
  background-color: #df9cdf;

}
.benefit-table tbody .icon-grade:nth-of-type(6) > i {
  background-color: #a2c1e9;

}

.benefit-table tbody .sale-red td p {
  color: #c74c4c;
  font-weight: bold;
}


.criterion {
  padding: 70px 0 50px 10px;
}

.criterion > h3 {
  font-size: 18px;
  font-weight: bold;
  color: #353231;
}

.criterion > ul {
  padding-top: 30px;
}

.criterion > ul > li {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #909090;
}


.criterion-grade {
  padding: 42px 0 0 42px;
  background-color: #f4f4f4;
}
.criterion-grade > div > h3 {
  padding-bottom: 16px;
  font-weight: bold;
}
.criterion-grade > div > ul {
  padding-top: 20px;
  padding-bottom: 44px;
}
.criterion-grade > div > ul > li {
  font-weight: normal;
  line-height: 1.5;
  color: #909090;
}
