@charset "utf-8";

/* === 2020/12/14 황운하 form css PC version === */

/* button */
/* =================================*/

button {
  cursor: pointer;
}
.d-flex{
  display: flex;
  align-items: center;
}
.d-flex-side{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* large 버튼 */
.btn-large{
  width: 620px;
  height: 56px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.btn-large.bk {
  color: #f5f5f5;
  background-color: #131415;
}
.btn-large.wh {
  color: #262628;
  border: 1px solid #282828;
  background-color: #fff;
}
.btn-large.dk-pink{
  color: #df9cdf;
  background-color: #282828;
}

/* medium 버튼 */
.btn-medium{
  width: 280px;
  height: 58px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.btn-medium.bk {
  color: #f5f5f5;
  background-color: #282828;
}
.btn-meidum.bk:disabled{
  color: #f5f5f5;
  background-color: #bbb3ab;
}
.btn-medium.wh {
  color: #282828;
  border: 1px solid #282828;
  background-color: #fff;
}
.btn-medium.wh:disabled{
  color: #909090;
  border-color: #e0e0e0;
}


/* small 버튼 */
.btn-small{
  width: 220px;
  height: 54px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.btn-small.bk {
  color: #f5f5f5;
  background: #282828;
}

.btn-small.wh {
  color: #262628;
  background: #fff;
  border: 1px solid #282828;
}

/* button group */
/* =================================*/
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* textarea  */
/* =================================*/
textarea{
  resize:none;
  width: 100%;
  height: 160px;
  padding: 12px;
  border: 1px solid #bcb3ac;
  border-radius: 2px; 
}

textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #262627;
}


/* input box */
/* =================================*/

/* input[type="radio"], */
input[type="checkbox"],
input[type="radio"],
input[type="file"] {
  display: none;
}


/* 2020/11/19 (신민하) 체크박스, 라디오 변경 */
/* 구조
  <label for="">
    <input type="radio" id="" checked >
    <i></i>
  </label>
*/
/* check box ----*/
label > input[type="checkbox"] + i {
  display: inline-block;
  width: 34px;
  height: 34px;
  vertical-align: middle;
  background: url(../images/ico_check_off.svg) no-repeat center;
  cursor: pointer;
}

label > input[type="checkbox"]:checked + i {
  background: url(../images/ico_check_on.svg) no-repeat center;
}


/* rario button  ----*/
label > input[type="radio"] + i {
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  background: url(../images/ico_check_circle_off.svg) no-repeat center;
}

label > input[type="radio"]:checked + i {
  background: url(../images/ico_check_circle_on.svg) no-repeat center;
}

/* toggle button ----*/
.btn-toggle {
  position: relative;
  width: 46px;
  height: 26px;
  border-radius: 15px;
  border:1px solid #e7e0da;
  background-color: #e7e0da;
}

.btn-toggle span {
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 19px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
}

.btn-toggle.on {
  border:1px solid #524e4c;
  background-color: #524e4c;
}

.btn-toggle.on span {
  left: auto;
  right: 3px;
  transition: all 0.3s ease;
}


/* input[type=text] */

input.normal{
  width: 100%;
  height: 40px;
  line-height: 22px;
  font-size: 15px;
  color: #262628;
  padding-left: 10px;
  border-bottom: 1px solid #e0e0e0;
}

input.normal::placeholder{
  color: #c6c6c6;
}

input:disabled {
  color: #c6c6c6;
}

input:disabled::placeholder{
  color: #c6c6c6;
}


/* input-text */
input,
select {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR';
}

/* Safari autocomplete off or Icon */
input[autocomplete="off"]::-webkit-contacts-auto-fill-button, 
input[autocomplete="off"]::-webkit-credentials-auto-fill-button { 
  visibility: hidden; 
  display: none !important; 
  pointer-events: none; 
  height: 0;
  width: 0; 
  margin: 0; 
}

/* divider */
.divider{
  width: 100%;
  height: 1px;
  margin: 0 auto;
}
.divider.gr {
  background-color: #e0e0e0;
}

.divider.bk{
  height: 2px;
  background-color: #282828;
}


