@charset 'utf-8';

/* 2020/12/15 황운하 login */
.login-section{
  padding: 50px 0 140px;
}
.login-wrap{
  padding: 80px 0 50px;
  background-color: #ffffff;
}

.login-section .login-item {
  margin-top: 50px;
}
.login-section .login-item > div {
  display: flex;
  align-items: center;
}

.login-section .login-item > .login-item-area:first-child{
  margin-bottom: 12px;
}
.login-section .login-item > .login-item-area > div {
  display: block;
  width: 100px;
  height: 19px;
  font-size: 16px;
  margin-right: 20px;
}

.login-section .login-item > .login-item-area > input.normal {
  width: 500px;
  height: 56px;
  padding-left: 10px;
}
.login-section .login-item > .login-item-area > div > input::placeholder{
  font-size: 15px;
}

.login-section .login-item label input[type=checkbox] + span{
  font-size: 15px;
}

.login-section .login-item > button{
  margin: 30px 0 20px;
}
.login-section .login-find-area button{
  font-size: 15px;
}
.login-section .login-find-area .d-flex span{
  width: 1px;
  height: 15px;
  margin: 0 13px;
  background-color: #cbcccf;
}

.login-social-area{
  margin-top: 30px;
}

.login-section .login-social-area > span{
  width: 1px;
  height: 18px;
  margin: 0 34px;
  background-color: #e0e0e0;
}

.login-section .login-social-area .social-icon span {
  font-size: 15px;
  color: #909090;
  margin-left: 10px;
}



.main-title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.login-section .login-contents > .main-title{
  margin-bottom: 75px;
}

/* 로그인 페이지 하단 - 회원가입 */
.login-section .register-item > h3{
  font-size: 18px;
  margin-top: 29px;
  margin-bottom: 10px;
}

.login-section .register-item > p{
  line-height: 21px;
  font-size: 15px;
  color: #909090;
}

.login-section .register-item > button{
  margin-top: 26px;
  margin-bottom: 20px;
}
.login-section .register-benefit > li { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 147px;
  height: 90px;
  border: 1px solid #e0e0e0;
}

.login-section .register-benefit li > span{
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.login-section .register-benefit li h2 {
  font-size: 30px;
  font-weight: bold;
}

.login-section .register-benefit li h2 span {
  font-size: 24px;
}
.login-section .register-benefit li h2 b {
  font-size: 23px;
}
.login-section .register-benefit li h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

/* 2020/12/15 황운하 비회원 주문조회 */
.login-section .nonmember-item{
  padding-top: 50px;
}
.login-section .nonmember-item > button {
  margin-top: 36px;
  margin-bottom: 50px;
}
.login-section .nonmember-item .nonmember-area p{
  display: block;
  width: 100px;
  height: 19px;
  font-size: 16px;
  margin-right: 20px;
}

.login-section .nonmember-item .nonmember-area input{
  width: 500px;
  height: 56px;
  line-height: 56px;
}
.login-section .nonmember-item .nonmember-area input::placeholder{
  font-size: 15px;
}

.login-section .nonmember-item .nonmember-area:not(:nth-child(3)){
  margin-bottom: 12px;
}

.login-section .remember-ordercount p{
  font-size: 16px;
}

.login-section .remember-ordercount ul {
  padding-left: 8px;
  margin-top: 18px;
  font-size: 15px;
  line-height: 22px;
  color: #909090;
}

.login-section .remember-ordercount ul > li::marker{
  content: "· ";
}

.login-section .nonmember-item > button.wh{
  margin: 0;
  margin-top: 30px;
}
.login-section .non-register-benefit li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 98px;
  border: 1px solid #e0e0e0;
}

.login-section .non-register-benefit li > span { 
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.login-section .non-register-benefit li > h2 {
  font-size: 30px;
  font-weight: bold;
}

.login-section .non-register-benefit li > h2 span{
  font-size: 24px;
}

.login-section .non-register-benefit li > h3 {
  font-size: 22px;
  font-weight: bold;
}

/* 2020/12/15 황운하 renewal */
.renewal-section{
  padding: 50px 0 307px;
}

.renewal-section .container-1180{
  padding: 80px 0 50px;
}

.renewal-section .renewal-content p {
  font-size: 18px;
  line-height: 24px;
  color: #353231;
}

.renewal-section .divider{
  margin: 30px 0 50px;
}

.renewal-section button{
  margin-top: 70px;
}

/* 2020/12/15 황운하 register */
.register-section{
  padding: 120px 0 105px;
}

.register-section .register-item .img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f5f5f5;
}