@charset 'utf-8';

.time-promotion {
  padding: 120px 0 80px;
}
.single-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.time-promotion .promotion-content:not(:first-child) {
  margin-top: 30px;
}
.promotion-content {
  display: flex;
  align-items: center;
}
.promotion-content .img-area {
  width: 721px;
  height: 400px;
  margin-right: 20px;
}
.countdown-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 439px;
  height: 400px;
  text-align: center;
  background-color: #f4f4f4;
}

.countdown-area .countdown p {
  font-size: 34px;
  line-height: 42px;
}
.countdown-area .countdown h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
}
.countdown-area .countdown .time span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.countdown-area .countdown .time span::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  font-size: 13px;
  color: #686868;
}
.countdown-area .countdown .days::after {
  content: "DAYS";
}
.countdown-area .countdown .hours::after {
  content: "HOURS";
}
.countdown-area .countdown .minutes::after {
  content: "MINS";
}
.countdown-area .countdown .seconds::after {
  content: "SECS";
}
.progress-wrap .progress {
  position: relative;
  width: 360px;
  height: 3px;
  margin: 15px auto 0;
  border-radius: 2px;
  background-color: #ffffff;
}
.progress-wrap .progress .bar {
  position: absolute;
  width: 120px;
  height: 3px;
  left: 0;
  border-radius: 2px;
  background-color: #df9cdf;
}
.progress-wrap .progress .bar::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 9px;
  height: 9px;
  border: 3px solid #df9cdf;
  border-radius: 50%;
  background-color: #ffffff;
  box-sizing: border-box;
}


.content-title h2{
  font-size: 42px;
  font-weight: bold;
  border-bottom: 1px solid #282828;
  margin-top: 50px;
  margin-bottom: 30px;
}
.promotion-content-list ul {
  display: flex;
}
.promotion-content-list ul > li {
  width: 272px;
  height: 340px;
  background-color: #df9cdf;
  overflow: hidden;
}
.promotion-content-list ul > li:not(:last-child) {
  margin-right: 31px;
}
/* 공동구매 */

.purchase-product-area .product-area {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.purchase-product-area .product-area .product:nth-child(odd) {
  margin-right: 40px;
}
.purchase-product-area .product {
  display: flex;
  align-items: flex-end;
  width: 570px;
}
.purchase-product-area .text-area {
  width: 330px;
}
.purchase-product-area .product-area .product:not(:nth-child(-n+2)) {
  margin-top: 46px
}
.purchase-product-area .product .img-area {
  margin-right: 20px;
}
.purchase-product-area .product .img-area .img-box {
  width: 220px;
  height: 275px;
}
.purchase-product-area a {
  display: block;
}
.purchase-product-area .brand-title {
  font-size: 15px;
  font-weight: bold;
  color: #909090;
  text-decoration: underline;
}
.purchase-product-area .product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  margin: 12px 0 26px;
}
.purchase-product-area .price p {
  font-size: 15px;
  font-weight: bold;
}
.purchase-product-area .price p span {
  font-size: 14px;
  color: #909090;
  margin-left: 6px;
}

.purchase-product-area .price > span {
  font-size: 14px;
  color: #df9cdf;
}
.purchase-product-area .countdown-area {
  width: 330px;
  height: 145px;
}
.purchase-product-area .countdown-area {
  display: block;
  padding: 0 14px;
  margin-top: 25px;
}
.purchase-product-area .countdown h3 {
  font-size: 20px;
}
.purchase-product-area .countdown-area .time span::after {
  top: 50px;
  font-size: 13px;
  line-height: 15px;
  color: #858585;
}
.purchase-product-area .count-area {
  display: flex;
  justify-content: space-between;
  margin: 26px 0 15px;
}
.purchase-product-area .count-area p {
  font-size: 14px;
  color: #858585;
}
.purchase-product-area .count-area p span {
  font-size: 14px;
  font-weight: bold;
  color: #6bae7e;
}
.purchase-product-area .progress {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff;
}
.purchase-product-area .progress .bar {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #6bae7e;
}
.purchase-product-area .progress .bar::after {
  content: "";
  position: absolute;
  top: 0;
  transform: translateY(-35%);
  right: 0;
  display: block;
  width: 4px;
  height: 4px;
  border: 4px solid #6bae7e;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

/* 프로모션 - 프리오더 */
.freeorder-product-area .progress .bar {
  background-color: #f4ab5b;
}
.freeorder-product-area .progress .bar::after {
  border-color: #f4ab5b;
}
.freeorder-product-area .count-area p span {
  color: #f4ab5b;
}

/* 상품상세 Time Sale CountDown */
.promotion-count-wrap .time-sale-area {
  width: 100%;
  height: 109px;
  margin-bottom: 50px;
  padding: 0 0 0 40px;
  background-color: #f4f4f4;
}
.promotion-count-wrap h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #524e4b;
}
.promotion-count-wrap p {
  font-size: 16px;
  color: #524e4b;
  margin-top: 12px;
}
.promotion-count-wrap .time-sale-area .countdown-area {
  height: 109px;
}
.promotion-count-wrap.single .progress-wrap .progress .bar::after {
  width: 9px;
  height: 9px;
}
/*  */

.product-detail .countdown {
  padding: 0 0 20px;
  background-color: transparent;
}
.product-detail .countdown .time {
  color: #282828;
}
.product-detail .progress-wrap .progress {
  background-color: #ffffff;
}
.product-detail .time-sale-area h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 12px;
}
.product-detail .time-sale-area div > p {
  font-size: 16px;
}
.product-detail .progress-wrap .progress .bar::after {
  background-color: #ffffff;
}
.brand-detail .banner-box {
  width: 100%;
  height: 440px;
  margin: 50px 0;
  background-color: #e7e0da;
}
.brand-detail .product-list-wrap .product-list {
  margin-top: 20px;
}
.brand-detail .product-list .cs-selectbox {
  margin: 0;
}
.product-align span {
  font-size: 18px;
  font-weight: bold;
}

