@charset 'utf-8';

.time-promotion {
  padding: 120px 0 80px;
}
.single-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.countdown-area .countdown {
  text-align: center;
  padding: 40px 0 20px;
  background-color: #282828;
}
.countdown-area .countdown p,
.countdown-area .countdown h3{
  color: #fff;
}
.countdown-area .countdown p {
  font-size: 34px;
  line-height: 42px;
}
.countdown-area .countdown h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
}
.countdown-area .countdown .time span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.countdown-area .countdown .time span::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  font-size: 13px;
  color: #686868;
}
.countdown-area .countdown .days::after {
  content: "DAYS";
}
.countdown-area .countdown .hours::after {
  content: "HOURS";
}
.countdown-area .countdown .minutes::after {
  content: "MINS";
}
.countdown-area .countdown .seconds::after {
  content: "SECS";
}
.progress-wrap .progress {
  position: relative;
  width: 360px;
  height: 3px;
  margin: 15px auto 0;
  border-radius: 2px;
  background-color: #686868;
}
.progress-wrap .progress .bar {
  position: absolute;
  width: 120px;
  height: 3px;
  left: 0;
  border-radius: 2px;
  background-color: #df9cdf;
}
.progress-wrap .progress .bar::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 9px;
  height: 9px;
  border: 3px solid #df9cdf;
  border-radius: 50%;
  background-color: #282828;
  box-sizing: border-box;
}

.time-promotion .intro-image {
  margin-top: 10px;
}
.time-promotion .intro-image .img-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 490px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  background-color: #686868;
}
.content-title h2{
  font-size: 42px;
  font-weight: bold;
  border-bottom: 1px solid #282828;
  margin-top: 50px;
  margin-bottom: 30px;
}
.content .product-area {
  display: flex;
  align-items: center;
}
.content .product-area .product {
  width: 272px;
}
.content .product-area .product:not(:last-child) {
  margin-right: 31px;
}

/* 공동구매 */
.purchase-intro .countdown-area .countdown {
  padding: 0 0 20px;
  background-color: transparent;
}
.purchase-intro .img-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase-intro .time-sale-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 112px;
  padding: 0 40px 0 30px;
  background-color: rgba(255,255,255, 0.72);
}
.purchase-intro .img-box {
  height: 500px;
}
.purchase-intro .img-side {
  width: 290px;
}
.purchase-intro .img-center {
  width: 580px;
}
.purchase-intro .time-sale-area > div > h2 {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 3px;
}
.purchase-intro .time-sale-area > div > p {
  font-size: 16px;
}
.purchase-intro .countdown h3 {
  font-size: 26px;
  color: #000000;
}
.purchase-intro .progress-wrap .progress {
  background-color: #ffffff;
}
.purchase-intro .progress-wrap .progress .bar::after {
  background-color: #ffffff;
}

.purchase-product-area .product-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
.purchase-product-area .product-area .product {
  display: flex;
  align-items: flex-end;
  width: 570px;
  margin-top: 41px;
}
.purchase-product-area .product-area .img-box {
  width: 220px;
}
.purchase-product-area .product-area .text-area {
  margin-left: 20px;
}
.purchase-product-area .brand-title {
  font-size: 14px;
  font-weight: bold;
  color: #909090;
  text-decoration: underline;
}
.purchase-product-area .product-title {
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  margin: 12px 0 30px;
}
.purchase-product-area .price p {
  font-size: 18px;
  font-weight: bold;
}
.purchase-product-area .price del {
  color: #909090;
  margin-left: 8px;
}
.purchase-product-area .price span {
  font-size: 16px;
  font-weight: bold;
  color: #c74c4c;
}
.purchase-product-area .remainder {
  position: relative;
  width: 330px;
  height: 134px;
  padding: 0 10px;
  margin-top: 21px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}
.purchase-product-area .remainder .progress {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background-color: #e0e0e0;
}
.purchase-product-area .remainder .progress::before {
  z-index: 5;
  content: "";
  position: absolute;
  top: -100%;
  width: 6px;
  height: 6px;
  border: 5px solid #6bae7e;
  border-radius: 50%;
  background-color: #fff;
}
.purchase-product-area .remainder .progress::after {
  z-index: 5;
  content: "";
  position: absolute;
  top: -100%;
  right: 0;
  width: 6px;
  height: 6px;
  border: 5px solid #6bae7e;
  border-radius: 50%;
  background-color: #fff;
}
.purchase-product-area .remainder .progress .bar {
  position: absolute;
  width: 210px;
  height: 6px;
  border-radius: 3px;
  background-color: #6bae7e;
}
.purchase-product-area .remainder .count {
  position: relative;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 45px;
  color: #ffffff;
  border-radius: 6px;
  background-color: #6bae7e;
  margin: 18px 0 20px;
}
.purchase-product-area .remainder .count::after {
  content: "";
  position: absolute;
  bottom: -7px;
  border-top: 7px solid #6bae7e;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 0px solid transparent;
}
.purchase-product-area .text-area .remainder .d-flex p {
  font-size: 15px;
  line-height: 21px;
  color: #909090;
}
.purchase-product-area .text-area .remainder .d-flex p span { 
  font-weight: bold;
  margin-left: 6px;
}
.purchase-product-area .text-area .remainder .d-flex > span {
  font-size: 13px;
}
.promotion-count-wrap {
  margin-bottom: 50px;
  background-color: #e7e0da;
}
.product-detail .countdown {
  padding: 0 0 20px;
  background-color: transparent;
}
.product-detail .countdown .time {
  color: #282828;
}
.product-detail .progress-wrap .progress {
  background-color: #ffffff;
}
.product-detail .time-sale-area h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 12px;
}
.product-detail .time-sale-area div > p {
  font-size: 16px;
}
.product-detail .progress-wrap .progress .bar::after {
  background-color: #ffffff;
}
.brand-detail .banner-box {
  width: 100%;
  height: 440px;
  margin: 50px 0;
  background-color: #e7e0da;
}
.brand-detail .product-list-wrap .product-list {
  margin-top: 20px;
}
.brand-detail .product-list .cs-selectbox {
  margin: 0;
}
.product-align span {
  font-size: 18px;
  font-weight: bold;
}