@charset 'utf-8';

/* 헤더 영역 */
/* ============================== */
.header-wrap {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 110px;
}
/* .header-wrap.on {
  background-color: #fff;
} */
.header-wrap .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 109px;
  padding: 0 50px 0;
}
.header .header-left {
  display: flex;
  align-items: center;
}
/* 메인로고 */
.header .header-left .main-logo {
  margin-right: 84px;
}

.header .header-left .main-logo img {
  width: 152px;
}

/* 헤더 GNB */
.header .header-left .gnb ul {
  display: flex;
  align-items: center;
  height: 109px;
  line-height: 109px;
}

.header .header-left .gnb ul li {
  position: relative;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  color: #111111;
}
.header .header-left .gnb ul li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #282828;

  /* border-bottom: 2px solid #282828; */
}
.header .header-left .gnb ul li:hover:after {
  left: 0;
  width: 100%;
  transition: all 0.3s;
}
.header .header-left .gnb ul li a {
  display: block;
  padding: 0 16px;
}

/* 헤더 LNB */

.header .header-right .lnb ul {
  display: flex;
  justify-content: flex-end;
}

header .header-right .lnb ul li {
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  white-space: nowrap;
  color: #111111;
}

.header .header-right .lnb ul li a {
  display: block;
  padding: 0 16px;
}

.ico-search {
  width: 24px;
  height: 24px;
  background: url(../images/ico_main_search.svg) no-repeat center;
}

.ico-cart {
  width: 24px;
  height: 24px;
  background: url(../images/ico_main_cart.svg) no-repeat center;
}

/* 메인 네비게이션 메뉴 메뉴 */
.main-nav-wrap {
  z-index: 20;
  position: fixed;
  /* display: none; */
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 109px;
  background-color: #fff;
  transition: all 0.4s ease;
  opacity: 0;
}

.main-nav-wrap.on {
  /* display: block; */
  height: 465px;
  transition: all 0.4s ease;
  opacity: 1;
}

.main-nav {
  display: flex;
  padding-top: 42px;
  padding-left: 416px;
  border-top: 1px solid #d8d8d8;
}

.main-nav .exhibit-nav {
  position: relative;
  width: 138px;
  font-size: 16px;
  font-weight: bold;
  color: #262628;
}

.main-nav .exhibit-nav:after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  right: 0;
  width: 1px;
  height: 246px;
  background-color: #d8d8d8;
}

.main-nav .exhibit-nav ul li {
  line-height: 2.25;
}

.main-nav article ul li {
  line-height: 2;
}

.main-nav article ul li a {
  display: block;
}

.main-nav .category {
  width: 190px;
  padding-left: 50px;
}

.main-nav .category > p {
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 2;
}

.main-nav .category ul li {
  font-size: 14px;
  color: #909090;
}

/* main-visual 메인비주얼 영역*/
/* ============================== */
.main-visual .main-visual-wrap .img-area img {
  width: 100%;
  height: auto;
}

/* 메인비주얼 스와이퍼 영역 */
.main-visual .swiper-container {
  width: 100%;
  height: 100%;
}

.main-visual .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* 메인비주얼 스와이퍼 버튼 커스터마이징 */
.main-swiper-arrow.swiper-button-next {
  width: 80px;
  height: 80px;
  right: 7%;
  color: #fff;
}
.main-swiper-arrow.swiper-button-prev {
  width: 80px;
  height: 80px;
  left: 7%;
  color: #fff;
}
.main-swiper-arrow.swiper-button-next:after {
  font-size: 80px;
  font-weight: 100;
}
.main-swiper-arrow.swiper-button-prev:after {
  font-size: 80px;
  font-weight: 100;
}

/* 메인비주얼 스와이퍼 페이지네이션 버튼 커스터마이징 */
.main-visual .bullet-color.swiper-pagination {
  bottom: 35px;
}
.main-visual .bullet-color .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background: #fff;
  opacity: 1;
}

.main-visual .bullet-color .swiper-pagination-bullet-active {
  background: #262627;
}

.main-visual .bullet-color .swiper-button {
  color: #777777;
}

/* band-banner */
/* =============================== */
.band-banner .banner-box {
  width: 100%;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #698e73;
}

/* .title-center-format */
.title-center-format {
  position: relative;
  margin-top: 116px;
  margin-bottom: 38px;
}

.title-center-format div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 73px;
}

.title-center-format h2 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.94px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.title-center-format p {
  font-size: 20px;
  letter-spacing: -0.77px;
  text-align: center;
  color: #333333;
}

.title-center-format span {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 15px;
  color: #333333;
}

/* WHAT's NEW */
/* =============================== */
.product-new .product-list {
  padding-left: 92px;
}

/* live-commerce */
/* =============================== */
/* product-780 */
.product-780 .product .product-wrap .img-area .img-box {
  width: 780px;
  overflow: hidden;
}

/* product-280 */
.product-280 .product .product-wrap {
  padding-right: 20px;
}

.product-280 .product:last-child .product-wrap {
  padding-right: 0;
}

.product-280 .product .product-wrap .img-area .img-box {
  width: 280px;
  overflow: hidden;
  border-radius: 8px;
}

/* product-380 */
.product-380 .product .product-wrap {
  padding-right: 20px;
}

.product-380 .product .product-wrap:last-child {
  padding-right: 20px;
}

.product-380 .product .product-wrap .img-area .img-box {
  width: 380px;
  overflow: hidden;
  border-radius: 8px;
}

/* product circle-160 */
.circle-160 .product .product-wrap {
  width: 200px;
  padding: 0 20px;
}

.circle-160 .product .product-wrap .img-box img {
  width: 160px;
  border-radius: 50%;
  height: auto;
}
/* brand-mall-237 */
.brand-mall-237 .product .product-wrap .img-area .img-box {
  width: 237px;
  height: 192px;
  border: 1px solid #eeeeee;
}
.brand-mall-237 .product .product-wrap .img-area .img-box img {
  width: 100%;
}

/* real-review */
/* reivew-223 */
.review-223 .product .product-wrap .img-area .img-box {
  width: 223px;
}
.review-223 .product .product-wrap .img-area .img-box img {
  width: 100%;
}

/* product text-area */
.product-wrap .text-area {
  padding-bottom: 33px;
  font-size: 14px;
  letter-spacing: -0.22px;
}

.product-wrap .text-area .brand-title {
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  padding-bottom: 3px;
  letter-spacing: -0.22px;
  color: #111111;
}

.product-wrap .text-area .product-title {
  overflow: hidden;
  padding-bottom: 8px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: -0.22px;
  color: #555555;
}

.product-wrap .text-area .price-list {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  font-size: 15px;
  font-weight: 700;
  text-overflow: ellipsis;
}

.product-wrap .text-area .price-list .price-del {
  margin-left: 8px;
  font-size: 12px;
  color: #999999;
}

.product-wrap .text-area .price-list .sale {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: #db4242;
}

.product-wrap .text-area .public-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 5px;
}

.product-wrap .text-area .public-info span i {
  padding-right: 3px;
  font-size: 12px;
  text-align: center;
  color: #bfbfbf;
}

.product-wrap .text-area .public-info span.view {
  font-size: 14px;
  font-weight: bold;
  color: #df9cdf;
}

.product-wrap .text-area .public-info span.review {
  font-size: 14px;
  font-weight: bold;
  color: #555555;
}

.product-wrap .text-area .public-info .divide {
  width: 1px;
  height: 8px;
  margin: 0 8px;
  background-color: #dedcd9;
}

/* view type */
/* ============================== */
/* .horizontal  */
.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.three-column {
  display: flex;
  flex-wrap: wrap;
}
/* badge */
/* =================================*/
/* badge relative declaration */
.img-area {
  position: relative;
}

.img-box img {
  display: block;
  width: 100%;
  height: 100%;
}

.badge-area img {
  width: 100%;
  height: 100%;
}

.text-area img {
  width: 100%;
  height: 100%;
}

.badge-wish {
  position: absolute;
  top: 5px;
  right: 7px;
  width: 24px;
  height: 24px;
  background: url(../images/ico_heart_off.svg) no-repeat center / 24px 24px;
}

.badge-wish.on {
  background: url(../images/ico_heart_on.svg) no-repeat center / 24px 24px;
}

.badge-wish-textarea {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 5.5556vw;
  height: 5.5556vw;
  background: url(../images/ico_heart_off.svg) no-repeat center;
}

.badge-wish-textarea.on {
  background: url(../images/ico_heart_on.svg) no-repeat center;
}

.badge-soldout {
  z-index: 10;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.badge-soldout:before {
  content: "SOLD OUT";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: #ffff;
  white-space: nowrap;
}

.badge-new {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  border: solid 3px #ffffff;
  background-color: #df9cdf;
  border-radius: 50%;
}
.badge-rank {
  position: absolute;
  top: 0;
  left: 10px;
  width: 50px;
  height: 52px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background: url(../images/badge_ribbon_50.png) no-repeat center / 50px 52px;
}
.badge-rank.small {
  top: 0;
  width: 44px;
  height: 46px;
  background: url(../images/badge_ribbon_44.png) no-repeat center / 44px 46px;
}

/* badge shape */
.badge-position {
  position: absolute;
  display: flex;
  top: 9px;
  left: 0;
}

.badge-square {
  width: 50px;
  height: 21px;
  line-height: 21px;
  margin-right: 8px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.09px;
}

.badge-circle {
  position: absolute;
  width: 11.1111vw;
  height: 11.1111vw;
  font-size: 2.7778vw;
  text-align: center;
  color: #fff;
  line-height: 11.1111vw;
  border-radius: 50%;
}

/* bage-color */
.badge-pink {
  background-color: rgb(223, 156, 223);
}

.badge-blue {
  background-color: rgb(86, 160, 196);
}

.badge-green {
  background-color: #6cae7e;
}

.badge-orange {
  background-color: rgb(249, 161, 96);
}

.badge-Viridian {
  background-color: rgb(108, 174, 126);
}

.badge-l-orange {
  background-color: rgb(249, 182, 108);
}

.badge-red {
  background-color: rgb(201, 75, 75);
}

.badge-violet {
  background: #d28ed2;
}

.badge-orange {
  background: #efb878;
}

.badge-leafGreen {
  background: #7ba89b;
}
.badge-black {
  color: #df9cdf;
  background-color: #000;
}

/* ive-commerce 라이브커머스 */
.live-commerce {
  padding-bottom: 20px;
}

/* live-commerce swiper 설정값 */
.swiper-slide-container {
  height: 100%;
  overflow: hidden;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.js-live-commerce {
  position: relative;
}

.js-live-commerce .swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease;
  transform: scale(0.9);
}
.js-live-commerce .swiper-slide .product-wrap .img-area:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.js-live-commerce .swiper-slide.swiper-slide-active {
  transform: scale(1);
  transition: all 0.8s ease;
}

.js-live-commerce
  .swiper-slide.swiper-slide-active
  .product-wrap
  .img-area:after {
  background-color: initial;
}

/* 라이브커머스 스와이퍼 버튼 커스터마이징 */
.live-swiper-arrow.swiper-button-next {
  width: 80px;
  height: 80px;
  right: 50%;
  transform: translateX(500px);
  color: #fff;
}
.live-swiper-arrow.swiper-button-prev {
  width: 80px;
  height: 80px;
  left: 50%;
  transform: translateX(-500px);
  color: #fff;
}
.live-swiper-arrow.swiper-button-next:after {
  font-size: 80px;
  font-weight: 100;
}
.live-swiper-arrow.swiper-button-prev:after {
  font-size: 80px;
  font-weight: 100;
}

/* influencer 인플루언서 */
.influencer {
  display: flex;
  justify-content: flex-start;
  margin-top: 120px;
  background-color: #f9f5f3;
}
.influencer .title-center-format {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 670px;
  margin-top: 56px;
  margin-bottom: 63px;
  padding-left: 375px;
}

.influencer .title-center-format div {
  align-items: flex-start;
}

.influencer .title-center-format span {
  position: static;
}

.influencer .product-list {
  flex-basis: 900px;
  margin-left: 0;
}
.influencer .swiper-wrapper .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px 50px 50px;
  background-color: #fff;
}

.influencer .product-wrap .text-area .influencer-title {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: center;
  color: #111111;
}
.influencer .product-wrap .text-area .brand-info {
  width: 100%;
  margin: 0 auto;
  padding-top: 16px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.25px;
  text-align: center;
  color: #777777;
}
/* 인플루언서 페이지네이션 커스터마이징 */
.influencer-bUtton.swiper-pagination {
  bottom: 22px;
}
.influencer-bUtton.swiper-pagination .swiper-pagination-bullet {
  width: 87px;
  height: 8px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: #dddddd;
  opacity: 1;
  transition: all 0.3s ease;
}
.influencer-bUtton.swiper-pagination .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #df9cdf;
  transition: all 0.3s ease;
}

.product-sub-category ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 466px;
  height: 36px;
  margin: 0 auto 40px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #b5b5b5;
}

.product-sub-category ul li {
  padding-bottom: 6px;
}

.product-sub-category ul li.on {
  color: #111111;
  border-bottom: 2px solid #111111;
}

/* .time-deal */
/* ============================================= */
.time-deal {
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 180px;
  background-color: #ac84ba;
}

.time-deal .time-deal-area {
  display: flex;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  border: solid 1px #cccccc;
}

.time-deal .time-deal-area .img-area {
  width: 780px;
}

.time-deal .time-deal-area .time-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 386px;
  background-color: #fff;
}

.time-deal .time-deal-area .time-area .title-center-format {
  margin-top: 62px;
}

.time-deal .time-deal-area .time-area .title-center-format h2 {
  padding-bottom: 11px;
}

.time-deal .time-deal-area .time-area .countdown {
  position: absolute;
  top: 164px;
  left: -36px;
  display: flex;
  flex-direction: column;
  width: 436px;
  height: 190px;
  padding: 21px 0;
  background-color: #111111;
}

.time-deal .time-deal-area .time-area .countdown::after {
  content: "";
  position: absolute;
  top: -14px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 14px solid #333333;
  border-top: 14px solid transparent;
}

.time-deal .time-deal-area .time-area .countdown .title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-align: center;
  color: #777777;
}

.time-deal .time-deal-area .time-area .countdown .time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: 1.25px;
  text-align: center;
  color: #ffffff;
}

.time-deal .time-deal-area .time-area .countdown .time span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.time-deal .time-deal-area .time-area .countdown .time span:after {
  position: absolute;
  top: 52px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.3px;
  text-align: center;
  color: #555555;
}

.time-deal .time-deal-area .time-area .countdown .time .days:after {
  content: "DAYS";
}

.time-deal .time-deal-area .time-area .countdown .time .hours:after {
  content: "HOURS";
}

.time-deal .time-deal-area .time-area .countdown .time .minutes:after {
  content: "MINUTES";
}

.time-deal .time-deal-area .time-area .countdown .time .seconds:after {
  content: "SECONDS";
}

.time-deal .time-deal-area .time-area .countdown .progress-wrap {
  margin: 28px auto;
}

.time-deal .time-deal-area .time-area .countdown .progress {
  position: relative;
  top: 0;
  left: 0;
  width: 344px;
  height: 3px;
  background-color: #4e4e4e;
  border-radius: 1.5px;
}

.time-deal .time-deal-area .time-area .countdown .progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 3px;
  background-color: #df9cdf;
  border-radius: 1.5px;
}

.time-deal .time-deal-area .time-area .countdown .progress .bar:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  width: 15px;
  height: 15px;
  background-color: #111111;
  border: solid 5px #df9cdf;
  border-radius: 50%;
  box-sizing: border-box;
}

.time-deal .time-deal-area .time-area .brand {
  padding-left: 31px;
  padding-bottom: 52px;
}

.time-deal .time-deal-area .time-area .brand h2 {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -0.47px;
  color: #111111;
}

.time-deal .time-deal-area .time-area .brand p {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.54px;
  color: #333333;
}

/* group-buying-wrap */
.group-buying {
  margin-top: 171px;
}
.group-buying-wrap {
  display: flex;
  justify-content: space-between;
}

.group-buying-wrap .img-area {
  width: 580px;
}

.group-buying-wrap .time-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  border: 10px solid #efeeea;
}

.group-buying-wrap .time-area .img-area {
  width: 350px;
}

.group-buying-wrap .time-area .countdown .title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-align: center;
  color: #777777;
}

.group-buying-wrap .time-area .countdown .time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: 1.25px;
  text-align: center;
  color: #111111;
}

.group-buying-wrap .time-area .countdown .time span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.group-buying-wrap .time-area .countdown .time span:after {
  position: absolute;
  top: 52px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.3px;
  text-align: center;
  color: #cccccc;
}

.group-buying-wrap .time-area .countdown .time .days:after {
  content: "DAYS";
}

.group-buying-wrap .time-area .countdown .time .hours:after {
  content: "HOURS";
}

.group-buying-wrap .time-area .countdown .time .minutes:after {
  content: "MINUTES";
}

.group-buying-wrap .time-area .countdown .time .seconds:after {
  content: "SECONDS";
}

.group-buying-wrap .time-area .countdown .progress-wrap {
  margin: 28px auto;
}

.group-buying-wrap .time-area .countdown .progress {
  position: relative;
  top: 0;
  left: 0;
  width: 344px;
  height: 3px;
  background-color: #dbdbdb;
  border-radius: 1.5px;
}

.group-buying-wrap .time-area .countdown .progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 3px;
  background-color: #df9cdf;
  border-radius: 1.5px;
}

.group-buying-wrap .time-area .countdown .progress .bar:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: solid 5px #df9cdf;
  border-radius: 50%;
  box-sizing: border-box;
}

.group-buying-wrap .time-area .buying-info {
  margin-top: 24px;
  text-align: center;
}

.group-buying-wrap .time-area .buying-info p {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-align: center;
  color: #111111;
}

.group-buying-wrap .time-area .buying-info span {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.7px;
  text-align: center;
  color: #df9cdf;
}

/* 공동구매 스와이퍼 버튼 커스터마이징 */
.group-buying-button.swiper-button-next {
  width: 80px;
  height: 80px;
  right: 0;
  color: #777777;
  opacity: 1;
}
.group-buying-button.swiper-button-prev {
  width: 80px;
  height: 80px;
  left: 0;
  color: #777777;
  opacity: 1;
}
.group-buying-button.swiper-button-next:after {
  font-size: 80px;
  font-weight: 100;
}
.group-buying-button.swiper-button-prev:after {
  font-size: 80px;
  font-weight: 100;
}

/* brand-mall */
.brand-mall-237 {
  justify-content: center;
}
.best-brand-bg img {
  width: 100%;
  height: auto;
}
.best-brand-wrap {
  margin-top: -175px;
}

/* 브랜드몰 스와이퍼 버튼 커스터마이징 */
.brand-mall-button.swiper-button-next {
  top: 10%;
  right: 50%;
  transform: translateX(610px);
  width: 80px;
  height: 80px;
  color: #fff;
  opacity: 1;
}
.brand-mall-button.swiper-button-prev {
  top: 10%;
  left: 50%;
  transform: translateX(-610px);
  width: 80px;
  height: 80px;
  color: #fff;
  opacity: 1;
}
.brand-mall-button.swiper-button-next:after {
  font-size: 80px;
  font-weight: 100;
}
.brand-mall-button.swiper-button-prev:after {
  font-size: 80px;
  font-weight: 100;
}

/* event-banner */
.event-banner {
  margin-top: 120px;
}
.event-banner .banner-img img {
  width: 100%;
}

/* product-velypick */
.product-velypick {
  display: flex;
  justify-content: space-between;
  margin-top: 117px;
}
.velypick-subtitle div h2 {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #111111;
}

.velypick-subtitle div p {
  margin: 17px 0 28px;
  font-family: AppleSDGothicNeo;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.77px;
  color: #333333;
}
.velypick-subtitle span {
  display: block;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #333333;
}
.product-velypick .tag ul {
  margin-top: 60px;
}
.product-velypick .tag ul li {
  width: fit-content;
  height: 36px;
  margin-bottom: 12px;
  padding: 0 18px;
  line-height: 36px;
  text-align: center;
  border-radius: 22px;
  background-color: #eeeeee;
}
.product-velypick .tag ul li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.62px;
  color: #333333;
}
.product-velypick .product-list {
  width: 880px;
  display: flex;
  flex-wrap: wrap;
}
.product-velypick .product-280 .product:nth-of-type(3n) .product-wrap {
  padding-right: 0;
}
.product-velypick .swiper-wrapper .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* today-deal */
.today-deal {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.today-deal > .info {
  flex-basis: 580px;
  position: relative;
}
.today-deal > .info img {
  width: 580px;
}

.today-deal .product-list {
  flex-basis: 580px;
  display: flex;
  flex-wrap: wrap;
}
.today-deal .product:nth-of-type(2n) .product-wrap {
  padding-right: 0;
}
.today-deal .today-deal-subtitle {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}
.today-deal-subtitle div h2 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.today-deal-subtitle div p {
  margin: 17px 0 28px;
  font-family: AppleSDGothicNeo;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.77px;
}

.today-deal-subtitle span {
  display: block;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.2px;
}

/* review-item */
.review-item {
  margin-bottom: 120px;
}
.review-item .product-list .product:nth-of-type(3n) .product-wrap {
  padding-right: 0;
}

/* 베스트 리뷰 */
.best-review {
  padding-top: 49px;
  padding-bottom: 107px;
  background-color: #faf7f5;
}

.best-review .title-center-format {
  margin-top: 0;
}

.best-review .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.best-review .review-223 .product-wrap {
  padding-bottom: 16px;
}
.best-review .pagination {
  margin-top: 21px;
}

.best-review .pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-review .pagination ul li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 4px;
  text-align: center;
  color: #111111;
}

.best-review .pagination ul .previous {
  margin-right: 12px;
  border: 1px solid #999999;
  border-radius: 3px;
  background: url(../images/ico_arrow_left_imgpopup.svg) no-repeat center / 24px
    24px;
}

.best-review .pagination ul .next {
  margin-left: 12px;
  border: 1px solid #999999;
  border-radius: 3px;
  background: url(../images/ico_arrow_right_imgpopup.svg) no-repeat center /
    24px 24px;
}

.best-review .pagination ul li a {
  display: block;
}

.best-review .pagination ul li.on {
  color: #fff;
  background-color: #df9cdf;
  border-radius: 3px;
}

/* meber-benefit */
.meber-benefit {
  background-color: #f6f0ed;
}

.meber-benefit article {
  display: flex;
  height: 140px;
  padding-top: 22px;
  padding-bottom: 12px;
}

.meber-benefit article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 25%;
  font-size: 20px;
  border-right: 1px solid #e5d6cd;
}
.meber-benefit article > div:last-child {
  border-right: none;
}
.meber-benefit article > div i {
  display: block;
}
.meber-benefit article > div:nth-of-type(1) i {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../images/ico_main_benefit.svg) no-repeat center / 40px 40px;
}
.meber-benefit article > div:nth-of-type(2) i {
  display: block;
  width: 54px;
  height: 33px;
  background: url(../images/ico_main_coupon.svg) no-repeat center / 54px 33px;
}
.meber-benefit article > div:nth-of-type(3) i {
  display: block;
  width: 47px;
  height: 41px;
  background: url(../images/ico_main_class.svg) no-repeat center / 47px 41px;
}
.meber-benefit article > div:nth-of-type(4) i {
  display: block;
  width: 63px;
  height: 42px;
  background: url(../images/ico_main_delivery.svg) no-repeat center / 63px 42px;
}

.meber-benefit article > div > p {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: -0.96px;
  text-align: center;
  color: #101010;
}
.meber-benefit article > div > p > strong {
  font-weight: 700;
}
.meber-benefit article > div > span {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  letter-spacing: -0.67px;
  text-align: center;
  color: #797070;
}

/* footer */

.footer {
  background-color: #e5dbd6;
}
.footer .fnb-wrap {
  border-bottom: 1px solid #c6b5ad;
}
.footer .fnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.footer .fnb .left > ul {
  display: flex;
  justify-content: flex-start;
}

.footer .fnb .left > ul > li {
  padding: 0 12px;
  font-size: 15px;
  letter-spacing: -0.72px;
  text-align: center;
  color: #333333;
}

.footer .fnb .left > ul > li strong {
  font-weight: 700;
}

.footer .fnb .left > ul > li:first-child {
  padding-left: 0;
}

.footer .fnb .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .fnb .right > div {
  position: relative;
}

.footer .fnb .right > div button {
  display: block;
  margin-left: 16px;
  text-align: left;
  text-indent: 12px;
  border: 1px solid #beb0a8;
  background: url(../images/ico_main_bot_arrow_down.svg) no-repeat center right
    8px / 24px 24px;
}

.footer .fnb .right .nation button {
  width: 90px;
  height: 39px;
}

.footer .fnb .right .family button {
  width: 167px;
  height: 39px;
}

.footer .fnb .right > div > ul {
  display: none;
  position: absolute;
  top: 39px;
  margin-left: 16px;
  text-indent: 12px;
  border: 1px solid #beb0a8;
  border-top: none;
}

.footer .fnb .right > .nation > ul {
  width: 90px;
}

.footer .fnb .right > .family > ul {
  width: 167px;
}

.footer .fnb .right > div > ul > li {
  height: 39px;
  line-height: 39px;
}

.footer .fnb .right button.on + ul {
  display: block;
}

.footer .adress-wrap {
  padding: 27px 0 47px;
}

.footer .adress-wrap .adress {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: -0.83px;
  color: #333333;
}

.footer .adress-wrap .adress li {
  padding-bottom: 8px;
}

.footer .adress-wrap .adress li span {
  padding-right: 16px;
}

.footer .adress-wrap .adress li span strong {
  font-size: 16px;
  font-weight: 700;
}

.footer .adress-wrap .adress li span em {
  font-weight: 600;
}

.footer .adress-wrap .footer-info {
  margin-top: 38px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: -0.77px;
  color: #333333;
}

.footer .adress-wrap .copyright {
  margin-top: 38px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #8d7b7b;
}
