@charset 'utf-8';

html,
body {
  position: relative;
  height: 100%;
}

.header {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 109px;
  padding: 0 110px;
}

.header .header-left {
  display: flex;
}

.header .header-left .main-logo {
  margin-left: 50px;
  margin-right: 100px;
}

.header .header-left .gnb ul {
  display: flex;
}

.header .header-left .gnb ul li a {
  display: block;
  width: 74px;
  height: 100%;
  text-align: left;
}

.header .header-right {
  margin-right: 63px;
}

.header .header-right .lnb ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .header-right .lnb ul li a {
  display: block;
  width: 74px;
  height: 100%;
  text-align: right;
}

/* main-visual */

.main-visual .main-visual-wrap .img-area img {
  width: 1700px;
  height: auto;
}

.main-visual .swiper-container {
  width: 100%;
  height: 100%;
}

.main-visual .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: red;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main-visual .bullet-color .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}

.main-visual .bullet-color .swiper-pagination-bullet-active {
  background: #262627;
}

.main-visual .bullet-color .swiper-button {
  color: #777777;
}

.swiper-button-prev,
.swiper-button-next {
  background-image: none;
}

.main-visual .swiper-button-prev,
.main-visual .swiper-button-next {
  background-image: url(../images/ico_arrow_right_imgpopup.svg);
}

/* band-banner */
.band-banner .banner-box {
  width: 100%;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #698e73;
}

/* .title-center-format */
.title-center-format {
  position: relative;
  margin-top: 95px;
  margin-bottom: 38px;
}

.title-center-format div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 73px;
}

.title-center-format h2 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.94px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.title-center-format p {
  font-size: 20px;
  letter-spacing: -0.77px;
  text-align: center;
  color: #333333;
}

.title-center-format span {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 15px;
  color: #333333;
}

/* WHAT's NEW */
.product-new .product-280 {
  padding-left: 92px;
}

/* product-best */
.product-best .product-280 {
  padding-bottom: 20px;
}

/* live-commerce */

/* product-780 */
.product-780 .product .product-wrap .img-area .img-box {
  width: 780px;
  overflow: hidden;
}

/* product-280 */
.product-280 .product .product-wrap {
  padding-right: 20px;
}

.product-280 .product .product-wrap:last-child {
  padding-right: 20px;
}

.product-280 .product .product-wrap .img-area .img-box {
  width: 280px;
  overflow: hidden;
  border-radius: 8px;
}

/* product-380 */
.product-380 .product .product-wrap {
  padding-right: 20px;
}

.product-380 .product .product-wrap:last-child {
  padding-right: 20px;
}

.product-380 .product .product-wrap .img-area .img-box {
  width: 380px;
  overflow: hidden;
  border-radius: 8px;
}

/* product circle-160 */
.circle-160 .product .product-wrap .img-area .img-box {
  width: 160px;
  overflow: hidden;
  border-radius: 50%;
}

/* brand-mall-237 */
.brand-mall-237 .product .product-wrap .img-area .img-box {
  width: 237px;
  height: 192px;
  border: 1px solid #eeeeee;
}
.brand-mall-237 .product .product-wrap .img-area .img-box img {
  width: 100%;
}

/* real-review */
/* reivew-223 */
.review-223 .product .product-wrap .img-area .img-box {
  width: 223px;
}
.review-223 .product .product-wrap .img-area .img-box img {
  width: 100%;
}

/* product text-area */
.product-wrap .text-area {
  padding-bottom: 33px;
  font-size: 14px;
  letter-spacing: -0.22px;
}

.product-wrap .text-area .brand-title {
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  padding-bottom: 3px;
  letter-spacing: -0.22px;
  color: #111111;
}

.product-wrap .text-area .product-title {
  overflow: hidden;
  padding-bottom: 8px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: -0.22px;
  color: #555555;
}

.product-wrap .text-area .price-list {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  font-size: 15px;
  font-weight: 700;
  text-overflow: ellipsis;
}

.product-wrap .text-area .price-list .price-del {
  margin-left: 8px;
  font-size: 12px;
  color: #999999;
}

.product-wrap .text-area .price-list .sale {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: #db4242;
}

.product-wrap .text-area .public-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 5px;
}

.product-wrap .text-area .public-info span i {
  padding-right: 3px;
  font-size: 12px;
  text-align: center;
  color: #bfbfbf;
}

.product-wrap .text-area .public-info span.view {
  font-size: 14px;
  font-weight: bold;
  color: #df9cdf;
}

.product-wrap .text-area .public-info span.review {
  font-size: 14px;
  font-weight: bold;
  color: #555555;
}

.product-wrap .text-area .public-info .divide {
  width: 1px;
  height: 8px;
  margin: 0 8px;
  background-color: #dedcd9;
}

/* view type */
/* ============================== */
/* .horizontal  */
.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* badge */
/* =================================*/
/* badge relative declaration */
.img-area {
  position: relative;
}

.img-box img {
  display: block;
  width: 100%;
  height: 100%;
}

.badge-area img {
  width: 100%;
  height: 100%;
}

.text-area img {
  width: 100%;
  height: 100%;
}

.badge-wish {
  position: absolute;
  top: 5px;
  right: 7px;
  width: 24px;
  height: 24px;
  background: url(../images/ico_heart_off.svg) no-repeat center / 24px 24px;
}

.badge-wish.on {
  background: url(../images/ico_heart_on.svg) no-repeat center / 24px 24px;
}

.badge-wish-textarea {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 5.5556vw;
  height: 5.5556vw;
  background: url(../images/ico_heart_off.svg) no-repeat center;
}

.badge-wish-textarea.on {
  background: url(../images/ico_heart_on.svg) no-repeat center;
}

.badge-soldout {
  z-index: 10;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.badge-soldout:before {
  content: "SOLD OUT";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: #ffff;
  white-space: nowrap;
}

.badge-rank {
  position: absolute;
  top: 0;
  left: 10px;
  width: 50px;
  height: 52px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background: url(../images/badge_ribbon_50px.png) no-repeat center / 50px 52px;
}

/* badge shape */
.badge-position {
  position: absolute;
  display: flex;
  top: 9px;
  left: 0;
}

.badge-square {
  width: 50px;
  height: 21px;
  line-height: 21px;
  margin-right: 8px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.09px;
}

.badge-circle {
  position: absolute;
  width: 11.1111vw;
  height: 11.1111vw;
  font-size: 2.7778vw;
  text-align: center;
  color: #fff;
  line-height: 11.1111vw;
  border-radius: 50%;
}

/* bage-color */
.badge-pink {
  background-color: rgb(223, 156, 223);
}

.badge-blue {
  background-color: rgb(86, 160, 196);
}

.badge-green {
  background-color: #6cae7e;
}

.badge-orange {
  background-color: rgb(249, 161, 96);
}

.badge-Viridian {
  background-color: rgb(108, 174, 126);
}

.badge-l-orange {
  background-color: rgb(249, 182, 108);
}

.badge-red {
  background-color: rgb(201, 75, 75);
}

.badge-violet {
  background: #d28ed2;
}

.badge-orange {
  background: #efb878;
}

.badge-leafGreen {
  background: #7ba89b;
}

/* live-commerce swiper 설정값 */
.swiper-slide-container {
  text-align: center;
  height: 100%;
  overflow: hidden;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.js-live-commerce {
  position: relative;
}

.js-live-commerce .swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease;
  transform: scale(0.85);
}

.js-live-commerce .swiper-slide.swiper-slide-active {
  transform: scale(1);
  transition: all 0.8s ease;
  background-color: none;
}

.influencer .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.influencer .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.product-sub-category ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 466px;
  height: 36px;
  margin: 0 auto 40px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #b5b5b5;
}

.product-sub-category ul li {
  padding-bottom: 6px;
}

.product-sub-category ul li.on {
  color: #111111;
  border-bottom: 2px solid #111111;
}

/* .time-deal */
/* ============================================= */
.time-deal {
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 180px;
  background-color: #ac84ba;
}

.time-deal .time-deal-area {
  display: flex;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  border: solid 1px #cccccc;
}

.time-deal .time-deal-area .img-area {
  width: 780px;
}

.time-deal .time-deal-area .time-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 386px;
  background-color: #fff;
}

.time-deal .time-deal-area .time-area .title-center-format {
  margin-top: 62px;
}

.time-deal .time-deal-area .time-area .title-center-format h2 {
  padding-bottom: 11px;
}

.time-deal .time-deal-area .time-area .countdown {
  position: absolute;
  top: 164px;
  left: -36px;
  display: flex;
  flex-direction: column;
  width: 436px;
  height: 190px;
  padding: 21px 0;
  background-color: #111111;
}

.time-deal .time-deal-area .time-area .countdown::after {
  content: "";
  position: absolute;
  top: -14px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 14px solid #333333;
  border-top: 14px solid transparent;
}

.time-deal .time-deal-area .time-area .countdown .title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-align: center;
  color: #777777;
}

.time-deal .time-deal-area .time-area .countdown .time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: 1.25px;
  text-align: center;
  color: #ffffff;
}

.time-deal .time-deal-area .time-area .countdown .time span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.time-deal .time-deal-area .time-area .countdown .time span:after {
  position: absolute;
  top: 52px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.3px;
  text-align: center;
  color: #555555;
}

.time-deal .time-deal-area .time-area .countdown .time .days:after {
  content: "DAYS";
}

.time-deal .time-deal-area .time-area .countdown .time .hours:after {
  content: "HOURS";
}

.time-deal .time-deal-area .time-area .countdown .time .minutes:after {
  content: "MINUTES";
}

.time-deal .time-deal-area .time-area .countdown .time .seconds:after {
  content: "SECONDS";
}

.time-deal .time-deal-area .time-area .countdown .progress-wrap {
  margin: 28px auto;
}

.time-deal .time-deal-area .time-area .countdown .progress {
  position: relative;
  top: 0;
  left: 0;
  width: 344px;
  height: 3px;
  background-color: #4e4e4e;
  border-radius: 1.5px;
}

.time-deal .time-deal-area .time-area .countdown .progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 3px;
  background-color: #df9cdf;
  border-radius: 1.5px;
}

.time-deal .time-deal-area .time-area .countdown .progress .bar:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  width: 15px;
  height: 15px;
  background-color: #111111;
  border: solid 5px #df9cdf;
  border-radius: 50%;
  box-sizing: border-box;
}

.time-deal .time-deal-area .time-area .brand {
  padding-left: 31px;
  padding-bottom: 52px;
}

.time-deal .time-deal-area .time-area .brand h2 {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -0.47px;
  color: #111111;
}

.time-deal .time-deal-area .time-area .brand p {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.54px;
  color: #333333;
}

/* group-buying-wrap */
.group-buying-wrap {
  display: flex;
  justify-content: space-between;
}

.group-buying-wrap .img-area {
  width: 580px;
}

.group-buying-wrap .time-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  border: 10px solid #efeeea;
}

.group-buying-wrap .time-area .img-area {
  width: 350px;
}

.group-buying-wrap .time-area .countdown .title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-align: center;
  color: #777777;
}

.group-buying-wrap .time-area .countdown .time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: 1.25px;
  text-align: center;
  color: #111111;
}

.group-buying-wrap .time-area .countdown .time span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.group-buying-wrap .time-area .countdown .time span:after {
  position: absolute;
  top: 52px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.3px;
  text-align: center;
  color: #cccccc;
}

.group-buying-wrap .time-area .countdown .time .days:after {
  content: "DAYS";
}

.group-buying-wrap .time-area .countdown .time .hours:after {
  content: "HOURS";
}

.group-buying-wrap .time-area .countdown .time .minutes:after {
  content: "MINUTES";
}

.group-buying-wrap .time-area .countdown .time .seconds:after {
  content: "SECONDS";
}

.group-buying-wrap .time-area .countdown .progress-wrap {
  margin: 28px auto;
}

.group-buying-wrap .time-area .countdown .progress {
  position: relative;
  top: 0;
  left: 0;
  width: 344px;
  height: 3px;
  background-color: #dbdbdb;
  border-radius: 1.5px;
}

.group-buying-wrap .time-area .countdown .progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 3px;
  background-color: #df9cdf;
  border-radius: 1.5px;
}

.group-buying-wrap .time-area .countdown .progress .bar:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: solid 5px #df9cdf;
  border-radius: 50%;
  box-sizing: border-box;
}

.group-buying-wrap .time-area .buying-info {
  margin-top: 24px;
  text-align: center;
}

.group-buying-wrap .time-area .buying-info p {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-align: center;
  color: #111111;
}

.group-buying-wrap .time-area .buying-info span {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.7px;
  text-align: center;
  color: #df9cdf;
}

.group-buying .swiper-button-prev,
.group-buying .swiper-button-next {
  color: #777777;
  /* background-image: url(../images/ico_arrow_right_imgpopup.svg); */
}

/* brand-mall */
.brand-mall-237 {
  justify-content: center;
}
.best-brand-bg img {
  width: 100%;
  height: auto;
}
.best-brand-wrap {
  margin-top: -175px;
}

/* event-banner */
.event-banner .banner-img img {
  width: 100%;
}

/* product-velypick */
.product-velypick {
  display: flex;
  justify-content: space-between;
}

.product-velypick .product-list {
  display: flex;
  flex-wrap: wrap;
}

/* today-deal */
.today-deal {
  display: flex;
  justify-content: space-between;
}
.today-deal > .info {
  flex-basis: 580px;
}
.today-deal > .info img {
  width: 580px;
}
.today-deal .product-list {
  flex-basis: 600px;
  display: flex;
  flex-wrap: wrap;
}
.today-deal .product .product-wrap:nth-child(2n) {
  padding-right: 0;
}

.best-review .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
